* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.main-t1 {
    width: 100%;
    height: 100%;
    background-color: rgb(58, 71, 100);
}

.div-calculator {
    margin: 0 auto;
    width: 44%;
    height: 100%;
}

.calculator-header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.title-t1 {
    margin-top: 1.5rem;
    width: 30%;
    height: 100%;
    font-size: 35px; 
    color: white; 
    display: flex;
    align-items: center;
}

.options {
    margin-top: 1.5rem;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-t1 {
    font-size:14px;
    width: 50%;
    text-align: end;
    color: white;
}

.selector {
    width: 50%;
    height: 100%;
    position: relative;
}

.numbers-t1 {
    width: 80%;
    height: 15%;
    padding: 0px 5px 0px 5px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 22%;
    right: 2%;
}

.number {
    width: 33.33%;
    font-size: 12px;
}

.one {
    text-align: start;
}

.two {
    text-align: center;
}

.three {
    text-align: end;
}

.div-selector-t1 {
    width: 85%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 39%;
    right: 0;
    background-color: rgb(36, 44, 66);
}

.circle {
    cursor: pointer;
}

.circle-selector-start-t1 {
    width: 24%;
    height: 80%;
    margin-left: 4px;
    border-radius: 100%;
    background-color: rgb(208, 63, 47);
}

.circle-selector-center-t1 {
    width: 23%;
    height: 80%;
    margin: 0 auto;
    border-radius: 100%;
    opacity: 0;
}

.circle-selector-end-t1 {
    width: 22%;
    height: 80%;
    margin-right: 4px;
    border-radius: 100%;
    opacity: 0;
}

.calculator-body {
    margin-top: 3.1rem;
    width: 100%;
    height: 75%;
}

    
 /* Calculator body */

.calculator-screen-t1 {
    width: 100%;
    height: 15%;
    border-radius: 0.5rem;
    padding-top: 1%;
    background-color: rgb(24, 32, 52);
}

#calculator-input {
    margin: 0 auto;
    width: 94%;
    height: 90%;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
}

.h4-t1 {
    font-size: 32px;
    color: white;
}

.calculator-buttons-t1 {
    margin-top: 1rem;
    width: 100%;
    height: 80%;
    border-radius: 0.5rem;
    background-color: rgb(36, 44, 66);
}

#buttons-body {
    margin: 0 auto;
    padding-top: 10px;
    width: 94%;
    height: 100%;
}

.row-flex {
    margin-bottom: -5px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 23%;
    height: 70%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}

.button:hover {
    filter: opacity(100%);
    filter: brightness(1.3);
    transform: scale(1.05);
    transition: 0.3s;
}

.btn-number-t1 {
    background-color: rgb(234, 227, 220);
    box-shadow: 3px 3px rgb(180, 165, 151);
}

.span-t1 {
    font-size: 30px;
    color: rgb(68, 75, 90);
}

.span-nan-t1, .span-nan-t1, .span-nan-t1 {
    color: white;
}

#reset, #equal {
    width: 49%;
}

.span-nan-t1, .span-nan-t1 {
    font-size: 23px;
}

.reset-t1, .del-t1 {
    background-color: hsl(225, 21%, 49%);
    box-shadow: 3px 3px hsl(224, 28%, 35%);
}

.equal-t1 {
    background-color: rgb(208, 63, 47);
    box-shadow: 3px 3px rgb(147, 38, 26);
    margin-right: -15px;
}


/*** ------- CLASES FOR THEME 2 ------- ***/

/* .main-t2 {
    background-color: hsl(0, 0%, 90%);
}

.title-t2, .theme-t2, .numbers-t2, .h4-t2 {
    color: rgb(255, 255, 255);
}


.div-selector-t2 {
background-color: blue;
}

.circle-selector-start-t2 {
    background-color: blue; 
}

.circle-selector-center-t2 {
    background-color: blue;
}

.circle-selector-end-t2 {
    background-color: blue;
}

.calculator-screen-t2 {
    background-color: blue;
}

.calculator-buttons-t2 {
    background-color: blue;
}

.btn-number-t2 {
    color: rgb(53, 53, 44);
}

.span-nan-t2 {
    color: rgb(255, 255, 255);
}

.reset-t2, .del-t2 {
    background-color: blue;
}

.equal-t2 {
    background-color: blue;
} */



/*** ------- CLASES FOR THEME 3 ------- ***/

/* .main-t3 {

}

.title-t3 {

}

.theme-t3 {

}

.numbers-t3 {

}

.div-selector-t3 {

}

.circle-selector-start-t3 {

}

.circle-selector-center-t3 {

}

.circle-selector-end-t3 {

}

.calculator-screen-t3 {

}

.h4-t3 {

}

.calculator-buttons-t3 {

}

.btn-number-t3 {

}

.span-nan-t3 {

}

.reset-t3, .del-t3 {

}

.equal-t3 {

} */




