* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

main {
    width: 100%;
    height: 100%;
    background-color: rgb(58, 71, 100);
}

.div-calculator {
    margin: 0 auto;
    width: 44%;
    height: 100%;
}

.calculator-header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.title {
    margin-top: 1.5rem;
    width: 30%;
    height: 100%;
    font-size: 35px; 
    color: white; 
    display: flex;
    align-items: center;
}

.options {
    margin-top: 1.5rem;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme {
    font-size:14px;
    width: 50%;
    text-align: end;
    color: white;
}

.selector {
    width: 50%;
    height: 100%;
    position: relative;
}

.numbers {
    width: 80%;
    height: 15%;
    padding: 0px 5px 0px 5px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 22%;
    right: 2%;
}

.number {
    width: 33.33%;
    font-size: 15px;
}

.one {
    text-align: start;
}

.two {
    text-align: center;
}

.three {
    text-align: end;
}

#div-selector {
    width: 85%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 39%;
    right: 0;
    background-color: rgb(36, 44, 66);
}

.circle {
    cursor: pointer;
}

#circle-selector-start {
    width: 22%;
    height: 80%;
    margin-left: 4px;
    border-radius: 100%;
    background-color: rgb(208, 63, 47);
}

#circle-selector-center {
    width: 22%;
    height: 80%;
    margin: 0 auto;
    border-radius: 100%;
    background-color: yellow;
}

#circle-selector-end {
    width: 22%;
    height: 80%;
    margin-right: 4px;
    border-radius: 100%;
    background-color: yellow;
}

.calculator-body {
    margin-top: 3.1rem;
    width: 100%;
    height: 75%;
}

    
 /* Calculator body */

#calculator-screen {
    width: 100%;
    height: 15%;
    border-radius: 0.5rem;
    padding-top: 1%;
    background-color: rgb(24, 32, 52);
}

#calculator-input {
    margin: auto;
    width: 94%;
    height: 90%;
    background-color: rgb(110, 110, 110);
}

#calculator-buttons {
    margin-top: 1rem;
    padding-top: 3%;
    width: 100%;
    height: 75%;
    border-radius: 0.5rem;
    background-color: rgb(36, 44, 66);
}

#buttons-body {
    margin: auto;
    width: 94%;
    height: 95%;
    background-color: rgb(139, 139, 139);
}