* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

main {
    width: 100%;
    height: 100%;
    background-color: rgb(58, 71, 100);
}

.div-calculator {
    margin: 0 auto;
    width: 44%;
    height: 100%;
}

.calculator-header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.title {
    margin-top: 1.5rem;
    width: 30%;
    height: 100%;
    font-size: 35px; 
    color: white; 
    display: flex;
    align-items: center;
}

.options {
    margin-top: 1.5rem;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme {
    font-size:14px;
    width: 50%;
    text-align: end;
    color: white;
}

.selector {
    width: 50%;
    height: 100%;
    position: relative;
}

.numbers {
    width: 80%;
    height: 15%;
    padding: 0px 5px 0px 5px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 22%;
    right: 2%;
}

.number {
    width: 33.33%;
    font-size: 12px;
}

.one {
    text-align: start;
}

.two {
    text-align: center;
}

.three {
    text-align: end;
}

#div-selector {
    width: 85%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 39%;
    right: 0;
    background-color: rgb(36, 44, 66);
}

.circle {
    cursor: pointer;
}

#circle-selector-start {
    width: 24%;
    height: 80%;
    margin-left: 4px;
    border-radius: 100%;
    background-color: rgb(208, 63, 47);
}

#circle-selector-center {
    width: 23%;
    height: 80%;
    margin: 0 auto;
    border-radius: 100%;
    background-color: yellow;
}

#circle-selector-end {
    width: 22%;
    height: 80%;
    margin-right: 4px;
    border-radius: 100%;
    background-color: yellow;
}

.calculator-body {
    margin-top: 3.1rem;
    width: 100%;
    height: 75%;
}

    
 /* Calculator body */

#calculator-screen {
    width: 100%;
    height: 15%;
    border-radius: 0.5rem;
    padding-top: 1%;
    background-color: rgb(24, 32, 52);
}

#calculator-input {
    margin: 0 auto;
    width: 94%;
    height: 90%;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
}

h4 {
    font-size: 32px;
    color: white;
}

#calculator-buttons {
    margin-top: 1rem;
    width: 100%;
    height: 80%;
    border-radius: 0.5rem;
    background-color: rgb(36, 44, 66);
}

#buttons-body {
    margin: 0 auto;
    padding-top: 10px;
    width: 94%;
    height: 100%;
}

.row-flex {
    margin-bottom: -5px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 23%;
    height: 70%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}

.button:hover {
    filter: opacity(100%);
    filter: brightness(1.3);
    transform: scale(1.05);
    transition: 0.3s;
}

.btn-number {
    background-color: rgb(234, 227, 220);
    box-shadow: 3px 3px rgb(180, 165, 151);
}

span {
    font-size: 30px;
    color: rgb(68, 75, 90);
}

#reset span, #equal span, #del span {
    color: white;
}

#reset, #equal {
    width: 49%;
}

#reset, #del {
    background-color: hsl(225, 21%, 49%);
    box-shadow: 3px 3px hsl(224, 28%, 35%);
}

#reset span, #del span {
    font-size: 23px;
}

#equal {
    background-color: rgb(208, 63, 47);
    box-shadow: 3px 3px rgb(147, 38, 26);
    margin-right: -15px;
}
